$body-bg-color: #EEFDFF;
$card-bg-color: #BFD7EC;
$footer-bg-color: #394C63;
$categories-card-color: #E8D2F4;
$border-card-color: #938F8F;
$border-input-form: #5788B4;
$small-letters-form: #686666;
$profile-card-bg-color: #CBFEF9;
$font-family-titles: 'Playfair Display', serif;
$font-family-body: 'PT Serif', serif;
