@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: $body-bg-color;
  font-family: $font-family-body;
}

h1 {
  font-family: $font-family-titles;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #C9E5E9;
  justify-content: center;
}

.logo {
 width: 100%;
}

.search {
  justify-content: center;
  position: relative;
}

nav a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand {
  margin-right: 0;
}

.search-input {
  background-color: $categories-card-color;
  width: 80%;
  height: 50px;
}

.search-input::placeholder {
  padding-left: 25px;
}

.search-icon {
  font-size: 1.5em;
  position: absolute;
  padding: 10px;
  color: #394C63;
  right: 80px;
}

#menu-icon {
  width: 80px;
  border: 0px;
}

.nav-options {
  font-weight: bold;
  font-size: 1.5em;
  justify-content: space-around;
  display: flex;
}

footer {
  background-color: $footer-bg-color;
  display: grid;
  align-items: center;
  color: white;
  height: 290px;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

footer section{
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-links {
  justify-content: space-around;
  font-size: 1.8em;
}

.footer-bottom {
  justify-content: space-between;
  align-items: baseline;
}


//HOME PAGE//

.section-header {
  margin: 20px 50px;
  background-image: url(/images/header-background.jpg);
  background-size: cover;
  height: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-white-text {
  background-color: white;
  font-size: 5.5em;
  padding: 10px 30px;
  line-height: 1.2em;
  text-align: center;
  font-family: $font-family-titles;
  font-weight: bold;
  color: #f8d305;
  text-transform: uppercase;
}

.main-contain-container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 50px;
}

.categories-container {
  padding: 25px 10px 0px 15px;
  min-width: 250px;
  border-radius: 8px;
  background-color: $categories-card-color;
  height: fit-content;
}

.categories-title {
  font-family: $font-family-titles;
  font-weight: bolder;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 10px;
}

.categories-container ul {
list-style-type: none;
font-size: 1.8em;
line-height: 2;
padding-left: 0px;
}

.categories-container li {
  cursor: pointer;
}

.categories-container li:hover {
  color: $border-input-form;
}

.card {
  background-color: $card-bg-color;
  border-radius: 0;
  overflow: hidden;
  padding: 15px 0 15px;
  height: 300px;
  width: 350px;
}

.card img {
  margin: auto;
  max-width: 300px;
  padding: 0;
  height: 200px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.make-a-bid-BTN,
.details-btn {
  background-color: $footer-bg-color;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.make-a-bid-BTN:hover {
  background-color: $categories-card-color;
}

.listing-details-container {
  display: grid;
  justify-items: center;
}

//REGISTER

.section-register {
  display: grid;
  justify-content: center;
  align-items: center;
}

.section-register p {
  font-size: 1.5rem;
  text-align: center;
}

.register-form {
  display: flex;
  justify-content: center;
}

#register-form,
#login-form {
  width: 480px;
}

.form-input {
  background-color: $card-bg-color;
  padding: 1rem 0.75rem;
}

.form-label {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.btn-register-container {
  display: grid;
  justify-content: center;
}

.btn-primary {
  background-color: $footer-bg-color;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 35px;
}

.input-feedback {
  color: #686666;
  font-size: 0.8em;
}

//ABOUT US
.about-us {
  display: grid;
  justify-content: center;
}

.image-about-us-container {
  justify-self: center;
}

.image-about-us-container img {
  width: 900px;
  height: 450px;
}

.about-us-container {
  padding: 20px 120px;
}

.about-us-container p {
  text-align: justify;
  font-size: 1.3em;
}

//USER PROFILE

.btn-logout {
  border: none;
  background-color: $body-bg-color;
  font-weight: bold;
}

.user-profile {
  background-color: #E3F8FB;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}

.user-avatar {
  max-width: 200px;
  border-radius: 10px;
}

.profile-header, .btn-update-avatar-container {
  grid-column: 1;
}

.profile-credits {
  grid-column: 2;
}

.btn-update-avatar-container {
  grid-row: 2;
  text-align: center;
}

.user-profile-card {
  margin-top: 0px;
  justify-self: center;
}

.user-name {
  text-align: center;
  font-weight: bold;
}

.user-info {
  background-color: $card-bg-color;
  margin: 50px;
  min-height: 350px;
  border-radius: 20px;
  text-align: center;
  display: grid;
  align-items: center;
}

.user-credits {
  font-weight: bold;
  font-size: 1.8em;
  background-color: $profile-card-bg-color;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 7px;
}

.popup-avatar {
  padding-right: 10px;
}

#update-avatar-container {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
}

#update-avatar-container span {
  font-size: 5em;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 100;
  color: white;
  cursor: pointer;
}

#update-avatar-container label {
  font-size: 2em;
  color: white;
}

#update-avatar-container input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-sell-container {
  text-align: center;
}

.btn-sell {
  text-align: center;
  justify-self: center;
}

.popup-image-avatar {
  max-width: 260px;
  border-radius: 130%;
}


//SELL PAGE

.section-sell-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 100px;
}

#sell-new-item-form input {
  width: 400px;
}

#sell-new-item-form button {
  padding: 6px 0;
}

.sell-btn-container {
  margin: auto;
}
.new-listing-container {
  display: grid;
  margin: auto;
}

.new-listing-title {
  text-align: center;
}

.new-listing-media {
  max-height: 1200px;
}

.new-listing-description {
  text-align: left;
  font-size: 1.3em;
}


//DETAILS PAGE

.bid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.body-bids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.bid-title {
  font-size: 1.5em;
  font-weight: bold;
}

#form-make-a-bid {
  display: flex;
  max-height: 50px;
  justify-content: space-between;
  width: 560px;
}

#amount {
  max-width: 350px;
}

//DELETE LISTING PAGE

.listing-edit-section,
.listing-details-section {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 20px 50px;
}

.listing-details-description {
  font-size: 1.5em;
}

.listing-details-media {
  max-height: 600px;
}

@media (min-width: 800px) and (max-width: 991px) {
  #nav-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .logo-container {
    grid-row: 1;
    grid-column: 1;
    width: 70%;
  }

  .search {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span col-2-start;
    width: 150%;
  }

  .search-input {
    width: 100%;
  }

  #menu-icon {
    grid-row: 1;
    justify-self: end;
  }

  .nav-options {
    display: none;
    grid-row: 3;
    font-size: 1.3em;
  }

  .nav-options a {
    padding-right: 40px;
    padding-top: 10px;
  }
}



@media(max-width: 799px) { 
  h1 {
    font-size: 1.5em;
  }

  .nav-options {
    display: none;
    grid-row: 3;
    font-size: 1em;
    justify-content: inherit;
  }

  .nav-options a {
    padding-right: 20px;
    padding-top: 10px;
  }

  #nav-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .logo-container {
    grid-row: 1;
    grid-column: 1;
    width: 70%;
  }

  .search {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span col-2-start;
    width: 150%;
  }

  #menu-icon {
    grid-row: 1;
    justify-self: end;
    width: 50px;
    margin-right: 20px;
  }

  .search-input {
    height: 40px;
    width: 100%;
  }

  .search-input::placeholder {
    padding-left: 10px;
    font-size: 0.8em;
  }

  .search-icon {
    right: 50px;
    font-size: 1em;
  }

  footer {
    height: 240px;
  }

  .footer-links{
    font-size: 1.2em;
  }

  .footer-bottom {
    font-size: 0.8em;
  }

  .card {
    width: 333px;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 5px;
  }

  .form-control {
    font-size: 0.8rem;
  }


  //HOME PAGE
  .section-header {
    margin: 20px 20px;
    height: 200px;
  }

  .header-white-text {
    font-size: 2em;
  }

  .main-contain-container {
    margin: 20px;
  }

  .categories-container {
    display: none;
  }

  .listings-Container {
    justify-content: center;
  }

  //ABOUT PAGE

  .listing-details-section,
  .section-register,
  .about-us-container {
    padding: 0px 50px;
  }

  .about-us-container p {
    font-size: 0.8em;
  }

  .image-about-us-container img {
    width: 350px;
    height: 202px;
  }

  //REGISTER PAGE

  #register-form, #login-form {
    width: 280px;
  }

  .register-container {
    padding: 0 25px;
  }

  .section-register p {
    font-size: 1rem;
    text-align: justify;
  }

  .input-feedback {
    font-size: 0.6em;
  }

  .form-input {
    padding: 0.6rem 0.75rem;
  }


  //PROFILE PAGE 
  .user-profile {
    margin: 30px;
  }

  .user-avatar {
    max-width: 100px;
  }

  .user-credits {
    font-size: 1em;
  }

  .user-info {
    margin: 18px;
    min-height: 100px;
  }

  .popup-image-avatar {
    max-width: 160px;
  }  

  #update-avatar-container label {
    font-size: 1em;
  }

  #update-avatar-container span {
    font-size: 3em;
    right: 50px;
    top: 180px;
  }

  //DETAIL PAGE

  .listing-details-section {
    padding: 0px 30px;
  }

  .listing-container {
    font-size: 0.8em;
  }

  .bid-title {
    font-size: 0.9em;
  }

  .listing-details-media {
    max-height: 300px;
    width: 350px;
  }

  .listing-details-description {
    font-size: 1em;
  }

  .body-bids {
    column-gap: 0;
  }

  #form-make-a-bid {
    max-height: 40px;
    width: fit-content;
  }

  #amount {
    max-width: 110px;
  }

}