@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: $body-bg-color;
  font-family: $font-family-body;
}

h1 {
  font-family: $font-family-titles;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #C9E5E9;
}

nav a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand {
  margin-right: 0;
}

.search {
  height: 45px;
}

.search-input {
  background-color: $categories-card-color;
}

.search-input::placeholder {
  padding-left: 40px;
}

.search-icon {
  font-size: 1.5em;
  position: absolute;
  padding: 10px;
  color: #394C63;
}

.nav-options {
  font-weight: bold;
  font-size: 1.5em;
  justify-content: space-between;
}

footer {
  background-color: $footer-bg-color;
  display: grid;
  align-items: center;
  color: white;
  height: 290px;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

footer section{
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-links {
  justify-content: space-around;
  font-size: 1.8em;
}

.footer-bottom {
  justify-content: space-between;
  align-items: baseline;
}


//HOME PAGE//

.section-header {
  margin: 20px 50px;
  background-image: url(/images/header-background.jpg);
  background-size: cover;
  height: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-white-text {
  background-color: white;
  font-size: 5.5em;
  padding: 10px 30px;
  line-height: 1.2em;
  text-align: center;
  font-family: $font-family-titles;
  font-weight: bold;
  color: #FFC815;
  text-transform: uppercase;
}

.main-contain-container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 50px;
}

.categories-container {
  padding: 25px 10px 0px 15px;
  min-width: 250px;
  border-radius: 8px;
  background-color: $categories-card-color;
  height: fit-content;
}

.categories-title {
  font-family: $font-family-titles;
  font-weight: bolder;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 10px;
}

.categories-container ul {
list-style-type: none;
font-size: 1.8em;
line-height: 2;
padding-left: 0px;
}

.listings-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}

.card {
  background-color: $card-bg-color;
  border-radius: 0;
}

.card img {
  margin: 25px;
  max-width: 300px;
  padding: 0;
  height: 200px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.make-a-bid-BTN {
  background-color: $footer-bg-color;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

//REGISTER

.section-register {
  display: grid;
  justify-content: center;
  align-items: center;
}

.section-register p {
  font-size: 1.5rem;
  text-align: center;
}

.register-form {
  display: flex;
  justify-content: center;
}

#register-form,
#login-form {
  width: 480px;
}

.form-input {
  background-color: $card-bg-color;
  padding: 1rem 0.75rem;
}

.form-label {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.btn-register-container {
  display: grid;
  justify-content: center;
}

.btn-primary {
  background-color: $footer-bg-color;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 35px;
}

.input-feedback {
  color: #686666;
  font-size: 0.8em;
}

//ABOUT US
.about-us {
  display: grid;
  justify-content: center;
}

.image-about-us-container {
  justify-self: center;
}

.image-about-us-container img {
  width: 900px;
  height: 450px;
}

.about-us-container {
  padding: 20px 120px;
}

.about-us-container p {
  text-align: justify;
  font-size: 1.3em;
}

//USER PROFILE

.user-profile {
  background-color: #E3F8FB;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.user-profile-card {
  margin-top: 0px;
  margin-bottom: 30px;
  justify-self: center;
}

.user-name {
  text-align: center;
  font-weight: bold;
}

.user-info {
  background-color: $card-bg-color;
  margin: 50px;
  min-height: 350px;
  border-radius: 20px;
  text-align: center;
}

.user-credits {
  font-weight: bold;
  font-size: 1.8em;
}

.update-avatar-container {
  display: none;
}

//SELL PAGE

.section-sell-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 100px;
}

#sell-new-item-form input {
  width: 400px;
}

#sell-new-item-form button {
  padding: 6px 0;
}

.sell-btn-container {
  margin: auto;
}
.new-listing-container {
  display: grid;
  margin: auto;
}

.new-listing-title {
  text-align: center;
}

.new-listing-media {
  max-height: 1200px;
}

.new-listing-description {
  text-align: left;
}


//DETAILS PAGE

.bid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}